name: Flutter CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-latest   # Needed for iOS builds

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.32.6'  

      - name: Install dependencies
        run: flutter pub get

      - name: Run Flutter Analyze
        run: flutter analyze || true

 #     - name: Run Tests
  #      run: flutter test

      - name: Build Android APK
        run: flutter build apk --release

      - name: Build iOS App
        run: flutter build ios --release
